<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New Notification</title>

<style type="text/css">
table, th, td {
	border: 1px solid #868585;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 10px;
}

table tr:nth-child(odd) {
	background-color: #eee;
}

table tr:nth-child(even) {
	background-color: white;
}

table tr:nth-child(1) {
	background-color: skyblue;
}
</style>
</head>
<body>
	<div th:insert="header"></div>
	
	Name Club: <h6 th:utext= "${clubDTO.nameClub}"></h6><br>
	Time Active: <h6 th:utext= "${clubDTO.timeStart}+'-'+ ${clubDTO.timeEnd}"></h6><br>
	Address <h6 th:utext= "${clubDTO.address}+'-'+${clubDTO.ward}+'-'+${clubDTO.district}+'-'+${clubDTO.city}"></h6><br>
	
	<div style="text-align:right;" th:if="${session.nameClub != null}">
		<a th:href="@{/manager-club/add}">New Club</a>
	</div>
	<table style="width: 100%">
		<tr>
			<th>Name STT Club</th>
			<th>State</th>
			<th>View</th>
		</tr>
		<tr th:each="sttClub : ${sttClubs}">
			<td th:utext="${sttClub.name}"></td>
			<td th:utext="${sttClub.enable}"></td>
			<td><a th:href="@{'/manager-match/' + ${sttClub.id}}">view</a></td>
			<td>delete</td>
			<td>Edit State</td>
		</tr>
	</table>
</body>
</html>