<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New Notification</title>

<style type="text/css">
table, th, td {
	border: 1px solid #868585;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 10px;
}

table tr:nth-child(odd) {
	background-color: #eee;
}

table tr:nth-child(even) {
	background-color: white;
}

table tr:nth-child(1) {
	background-color: skyblue;
}
</style>
</head>
<body>
	<div th:insert="header"></div>
	<table style="width: 100%">
		<tr>
			<th>Time</th>
			<th>Message</th>
		</tr>
		<tr th:each="notifi :${notifi}">
			<td th:utext="${notifi.timeUpdate}"></td>
			<td>
				<th:block th:if="${notifi.event == '1'}">
					<a th:href="@{/friend?friend=acceptFriend}" th:utext="${notifi.message}"></a>
				</th:block>
				
				<th:block th:if="${notifi.event == '2'}">
					<a th:href="@{/friend}" th:utext="${notifi.message}"></a>
				</th:block>
				<th:block th:if="${notifi.event == '3'}">
					<a th:href="@{'/virtual-match/join?idVirtual='  + ${list.handleEvent}}" th:utext="${notifi.message}"></a>
				</th:block>
				<th:block th:if="${notifi.event == '4'}">
					<a th:utext="${notifi.message}"></a>
				</th:block>
			</td>
			
		</tr>
	</table>
	
	<th:block>
			<th:block th:if="${joinFail}!=null">
				<script type="text/javascript">
					alert("Join Fail! You already exists");
				</script>
			</th:block>
			<th:block th:if="${joinSuccess}!=null">
				<script type="text/javascript">
					alert("You Join Success!!");
				</script>
			</th:block>
			<th:block th:if="${cancelFail}!=null">
				<script type="text/javascript">
					alert("Cancel Fail! You Does Not Exist");
				</script>
			</th:block>
			<th:block th:if="${cancelSuccess}!=null">
				<script type="text/javascript">
					alert("You Cancel Success !!");
				</script>
			</th:block>
			<th:block th:if="${fail}!=null">
				<script type="text/javascript">
					alert("Create Fail!!! You already exists");
				</script>
			</th:block>
			<th:block th:if="${success}!=null">
				<script type="text/javascript">
					alert("Create Success");
				</script>
			</th:block>
	</th:block>
</body>
</html>