<html lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:utext="${title}"></title>
</head>
<body>
	<div th:insert="header"></div>
	<div>
		<div style="text-align: right;">
			<a th:href= "@{/friend}">My Friend </a>
			<a th:href= "@{/friend?friend=newFriend}">Find New Friend</a>
			<a th:href= "@{/friend?friend=acceptFriend}">Accept Friend</a>
		</div>
		<th:block th:if="${friend} == 'myFriend'" >
				<div th:if="${list} != null">
						<div th:each="list : ${list}">
							<div style="width: 25%; float:left; text-align: center;">
								<img th:src="@{/resources/static/images/img-01.jpg}" alt="avt"/>
								<h4 th:utext="${list.namePlayer}"></h4>
								<a th:href="@{'friend/delete-contact/' + ${list.id}}">
									<button style="color: blue;">Cancel</button> </a> 
								<a th:href="@{'friend/block-contact/' + ${list.id}}">
									<button style="color: red">Block</button></a>
							</div>
						</div>
				</div>
				<div th:unless="${list} != null">
					<a th:href ="@{/friend?friend=newFriend}"> You Wanna New Contact? </a>
				</div>
		</th:block>
		<th:block th:if="${friend} == 'acceptFriend'" >
				<div th:if="${list} != null">
						<div th:each="list : ${list}">
							<div style="width: 25%; float:left; text-align: center;">
								<img alt="avt" th:src="@{/static/images/img-01.jpg}" />
								<h4 th:utext="${list.namePlayer}"></h4>
								<a th:href="@{'friend/accept-contact/' + ${list.id}}">
									<button style="color: blue;">Accept</button> </a> 
								<a th:href="@{'friend/delete-contact/' + ${list.id}}">
									<button style="color: red">Cancel</button></a>
							</div>
						</div>
				</div>
				<div th:unless="${list} != null">
					<a th:href ="@{/friend?friend=newFriend}"> You Wanna New Contact? </a>
				</div>
		</th:block>
		
		<th:block th:if="${friend} == 'newFriend'" >
				<div th:if="${list} != null">
						<div th:each="list : ${list}">
							<div style="width: 25%; float:left; text-align: center;">
								
								<img alt="avt" th:src="@{/static/images/img-01.jpg}" />
								<h4 th:utext="${list.namePlayer}"></h4>
									<a th:href="@{'friend/contact-player/'+${list.id}}">
										<button style="color: blue;">Send request contact</button></a>
										
							</div>
						</div>
				</div>
				
		</th:block>
	</div>
	
	<th:block>
		<th:block th:if="${acceptSuccess}!=null">
			<script type="text/javascript">
				alert("Accept Success");
			</script>
		</th:block>
		<th:block th:if="${joinSuccess}!=null">
			<script type="text/javascript">
				alert("Join Success");
			</script>
		</th:block>
		<th:block th:if="${contactSuccess}!=null">
			<script type="text/javascript">
				alert("Send Request Success");
			</script>
		</th:block>
		<th:block th:if="${blockSuccess}!=null">
			<script type="text/javascript">
				alert("Block Success");
			</script>
		</th:block>
	</th:block>
</body>
</html>